body {
    min-height: 100vh;
    background: url('BackgroundPortofolio.jpg') no-repeat center center fixed;
    background-size: cover;
}

.nav-link:hover {
    color: white;
    transform: rotate(5deg);
}

.image-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 45vh;
}